[submodule "hw/lib/espressif"]
	path = hw/lib/espressif
	url = https://github.com/espressif/kicad-libraries.git
[submodule "hw/lib/KiCadLib"]
	path = hw/lib/KiCadLib
	url = https://github.com/brandonbraun653/KiCadLib.git
